[Desktop Entry]
Version=1.2
Type=Application
Name=Essora VM
Name[ar]=Essora VM
Name[ca]=Essora VM
Name[de]=Essora VM
Name[es]=Essora VM
Name[fr]=Essora VM
Name[hu]=Essora VM
Name[it]=Essora VM
Name[ja]=Essora VM
Name[pt]=Essora VM
Name[ru]=Essora VM
Name[zh_CN]=Essora VM
Comment=QEMU Virtual Machine Manager — Essora Linux
Comment[ar]=مدير الأجهزة الافتراضية QEMU — Essora Linux
Comment[ca]=Gestor de màquines virtuals QEMU — Essora Linux
Comment[de]=QEMU Verwaltung virtueller Maschinen — Essora Linux
Comment[es]=Gestor de Máquinas Virtuales QEMU — Essora Linux
Comment[fr]=Gestionnaire de machines virtuelles QEMU — Essora Linux
Comment[hu]=QEMU virtuális gép kezelő — Essora Linux
Comment[it]=Gestore di macchine virtuali QEMU — Essora Linux
Comment[ja]=QEMU 仮想マシンマネージャー — Essora Linux
Comment[pt]=Gerenciador de Máquinas Virtuais QEMU — Essora Linux
Comment[ru]=Менеджер виртуальных машин QEMU — Essora Linux
Comment[zh_CN]=QEMU 虚拟机管理器 — Essora Linux
Exec=/usr/local/bin/essora-vm
Icon=/usr/local/essora-vm/logo-essora-vm.png
Terminal=false
Categories=System;Emulator;Virtualization;Favorites;
Keywords=qemu;vm;virtual;machine;emulator;essora;
Keywords[ar]=qemu;آلة افتراضية;محاكي;
Keywords[es]=qemu;maquina;virtual;emulador;
Keywords[fr]=qemu;machine;virtuelle;émulateur;
Keywords[de]=qemu;virtuelle;maschine;emulator;
Keywords[ru]=qemu;виртуальная;машина;эмулятор;
Keywords[zh_CN]=qemu;虚拟机;模拟器;
StartupNotify=true
StartupWMClass=essora-vm
